body {
  min-width: 1200px;
}
.nav-stacked > li + li {
  margin-top: 0;
}
.nav-pills > li.active > a {
  background-color: #F5C400;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #F5C400;
}
.nav-pills > li > a {
  border-radius: 0;
  background-color: #E2E2E2;
  height: 42px;
  color: #555;
  font-size: 14px;
  padding-left: 30px;
}
.page-menu {
  width: 217px;
}
.page-menu .page-title {
  background: #00d1f7;
  height: 73px;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
}
.page-menu .page-title .cn {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.page-menu.nav > li > a:hover,
.page-menu.nav > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #F5C400;
}
.cm-footer {
  background-color: #292929;
}
.cm-footer .site-map {
  padding-top: 50px;
  padding-bottom: 50px;
}
.cm-footer .site-map .bb000 {
  text-align: left;
  padding-bottom: 0;
  margin: 0 auto;
  width: 920px;
  display: block;
  letter-spacing: 1px;
}
.cm-footer .site-map .bb001 {
  padding-left: 40px;
  min-width: 170px;
  display: block;
  float: left;
  height: 180px;
  font-size: 12px;
  border-right: #565656 1px dotted;
}
.cm-footer .site-map .bb002 A {
  line-height: 18px;
  margin-top: 0;
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.cm-footer .site-map .bb003 A {
  line-height: 24px;
  color: #ccc;
  font-size: 12px;
}
.cm-copyright {
  background: #1a1a1a;
  height: 76px;
}
.cm-copyright .copyright {
  text-align: left;
  line-height: 70px;
  color: #929292;
  font-size: 12px;
}
.cm-navbar {
  background: url("../image/navbar_bg.gif");
}
.cm-navbar ul,
.cm-navbar li {
  list-style: none;
}
.cm-navbar ul {
  padding: 0;
  -webkit-padding-start: 0;
}
.cm-navbar .cm-nav {
  float: left;
  margin: 0;
}
.cm-navbar .cm-nav > li {
  float: left;
  position: relative;
  display: block;
  width: 124px;
}
.cm-navbar .cm-nav > li > .cm-dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}
.cm-navbar .cm-nav > li > a {
  position: relative;
  display: block;
  width: 100%;
  font-family: "微软雅黑", "黑体", "SF Pro Display", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  float: left;
  height: 50px;
  color: #777;
  padding: 15px 10px;
  text-decoration: none;
}
.cm-navbar .cm-nav > li > a:hover {
  color: #00d1f7;
}
.cm-dropdown-menu {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 124px;
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.cm-dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.cm-dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.cm-dropdown-menu > li > a:hover,
.cm-dropdown-menu > li > a:focus {
  color: #00d1f7;
  text-decoration: none;
  background-color: #f5f5f5;
}
.cm-dropdown:hover .cm-dropdown-menu {
  display: block;
}
#carousel .item {
  width: 100%;
}
#carousel img {
  display: block;
  width: 100%;
  border: 0 none;
  vertical-align: middle;
  max-height: 500px;
}
#carousel.small img {
  max-height: 340px;
}
#carousel #bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #7fc242;
  overflow: hidden;
}
#carousel #progressBar {
  width: 100%;
  background: #ededed;
}
#carousel .owl-controls {
  display: none;
  visibility: hidden;
}
.pageWidth {
  background-image: none;
  margin: 0 auto;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
}
.b-b-gray {
  border-bottom: 1px solid #ebebeb;
}
.b-a-gray {
  border: 1px solid #ebebeb;
}
.w-full {
  width: 100%;
}
.w-pc {
  width: 1200px;
}
.w-md {
  width: 124px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xlg {
  margin-bottom: 70px;
}
.m-t-lg {
  margin-top: 50px;
}
.m-t-md {
  margin-top: 30px;
}
.m-t {
  margin-top: 15px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.w {
  width: 200px;
}
.text-white {
  color: #ffffff;
}
.text-15 {
  font-size: 15px;
}
.text-xs {
  font-size: 0.75em;
}
.text-sm {
  font-size: 0.8em;
}
.text-md {
  font-size: 1.25em;
}
.text-lg {
  font-size: 2em;
}
.text-xlg {
  font-size: 2.5em;
}
.cursor-pointer {
  cursor: pointer;
}
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padder-v-md {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padder-v-lg {
  padding-top: 50px;
  padding-bottom: 50px;
}
.padder-v-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padder-v-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
/*.navhover .navbar .nav > li.dropdown-menu {*/
/*margin: 0;*/
/*}*/
.hover-drop .nav > li:hover .dropdown-menu {
  display: block;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00d1f7;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00d1f7;
}
.content-path .breadcrumb {
  background-color: transparent;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 20px;
}
.about-content {
  line-height: 35px;
  text-indent: 26px;
  letter-spacing: 1px;
  color: #444;
  font-size: 13px;
}
.cal-content .cal-item .title {
  padding: 0;
  line-height: 40px;
  margin: 1em 0;
  font-size: 1.17em;
  font-weight: bolder;
}
.cal-content .cal-item .desc {
  line-height: 35px;
  text-indent: 26px;
  letter-spacing: 1px;
  color: #444;
  font-size: 13px;
}
.serv-content .serv-item .title {
  padding: 0;
  line-height: 40px;
  margin: 1em 0;
  font-size: 14px;
  font-weight: bolder;
}
.serv-content .serv-item .desc {
  line-height: 35px;
  text-indent: 26px;
  letter-spacing: 1px;
  color: #444;
  font-size: 13px;
}
