.title-divider-center {
  width: 80px;
  border: #00D8FF 1px solid;
  margin: 0 auto;
}
.describtion {
  text-align: left;
  line-height: 24px;
  display: block;
  letter-spacing: 1px;
  height: 165px;
  color: #444;
}
.artitle-title {
  padding-top: 50px;
  height: 200px;
  text-align: center;
}
.product {
  width: 100%;
  background: url('../image/bg_dk_blue.jpg') no-repeat center top;
  height: 570px;
}
.product .box {
  width: 225px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  padding: 0 13px;
}
.product .box a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.product .box a:hover {
  color: #0041d8;
}
.product .box .pic img {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border: 0 solid #EFEFEF;
}
.product .box .box-title {
  width: 200px;
  margin-top: 1px;
  background-color: #ffffff;
  padding: 15px 0;
}
.enginering-case .item a {
  border: 1px solid #ebebeb;
}
.enginering-case .item a:hover {
  border: 1px solid #c4c4c4;
}
.enginering-case .item img {
  height: 80px;
  margin: 1px;
  width: 200px;
}
