.pageWidth {
  background-image: none;
  margin: 0 auto;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
}
.b-b-gray {
  border-bottom: 1px solid #ebebeb;
}
.b-a-gray {
  border: 1px solid #ebebeb;
}
.w-full {
  width: 100%;
}
.w-pc {
  width: 1200px;
}
.w-md {
  width: 124px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xlg {
  margin-bottom: 70px;
}
.m-t-lg {
  margin-top: 50px;
}
.m-t-md {
  margin-top: 30px;
}
.m-t {
  margin-top: 15px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.w {
  width: 200px;
}
.text-white {
  color: #ffffff;
}
.text-15 {
  font-size: 15px;
}
.text-xs {
  font-size: 0.75em;
}
.text-sm {
  font-size: 0.8em;
}
.text-md {
  font-size: 1.25em;
}
.text-lg {
  font-size: 2em;
}
.text-xlg {
  font-size: 2.5em;
}
.cursor-pointer {
  cursor: pointer;
}
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padder-v-md {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padder-v-lg {
  padding-top: 50px;
  padding-bottom: 50px;
}
.padder-v-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padder-v-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
/*.navhover .navbar .nav > li.dropdown-menu {*/
/*margin: 0;*/
/*}*/
.hover-drop .nav > li:hover .dropdown-menu {
  display: block;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00d1f7;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00d1f7;
}
